/* navbar  */

@media (min-width: 768px) {
    .navbar-right {
        float: right!important;
    }
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        background: rgba(255, 255, 255, 0.75);
    }
}

@media (min-width:768px) and (max-width:1187px) {
    #logo {
        margin-top: 0px;
        height: 1em;
        width: auto;
        margin-left: 1em;
    }
}

@media (min-width:1188px) {
    #logo {
        margin-top: 0px;
        height: 4em;
        width: auto;
        margin-left: 12em;
    }
}


/* big logo */

@media (min-width: 359px) {
    #logo {
        height: 1em;
        width: auto;
        margin-top: -0.8em;
        margin-left: 1.1em;
    }
}

@media (min-width: 368px) {
    #logo {
        height: 2em;
        width: auto;
        margin-top: -0.8em;
        margin-left: 0.5em;
    }
}

@media (min-width: 400px) {
    .big-logo-row h1 {
        font-size: 4.5em;
    }
    #logo {
        height: 1em;
        width: auto;
        margin-top: -0.8em;
        margin-left: 1.1em;
    }
}

@media (min-width: 440px) {
    .big-logo-row h1 {
        font-size: 5.5em;
    }
}

@media (min-width: 500px) {
    .big-logo-row h1 {
        font-size: 6.5em;
    }
}

@media (min-width: 630px) {
    .big-logo-row h1 {
        font-size: 7.5em;
    }
    #logo {
        height: 1em;
        width: auto;
        margin-top: -0.5em;
        margin-left: -0.4em;
    }
}

@media (min-width: 768px) {
    .big-logo-row h1 {
        font-size: 9em;
        padding-bottom: 30px;
    }
    #logo {
        height: 1em;
        width: auto;
        margin-top: -49px;
        margin-left: -0.3em;
    }
}

@media (min-width: 1200px) {
    .big-logo-row h1 {
        font-size: 2em;
    }
    #logo {
        height: 5em;
        width: auto;
        margin-top: -0.8em;
        margin-left: 12em;
    }
}


/* menu categories */

@media (min-width:554px) and (max-width:991px) {
    .menuCat {
        margin-left: 23%;
    }
}
